
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

.top-bar {
  background: #ff9933;
  color: white;
  padding: 15px;
  text-align: center;
}

.search-box {
  padding: 10px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.banner {
  background: #138808;
  color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
